@require '../vars.styl'

#contact-page
  background-size cover
  #contact-confirmed-body
    text-align center
    i.fa
      font-size 8em
    #contact-confirmed-copy.row
      padding-top 3rem

#contact-form
  input[type='text'], input[type='email'], textarea
    border 1px solid cf-cyan
    background-color white
