@require '../vars.styl'

.offerings-grid, .funds-list
  .panel
    padding-top 0px !important
    margin-top 1rem

  .panel-heading
    padding 0
    margin-bottom 0px
    height 70px

  .panel-body
    position relative
    overflow hidden
    clear both

  .panel-overlay-chroma
    position absolute
    top 0
    left 100%
    width 100%
    height 100%
    padding 0
    margin 0

  .title
    position: relative !important
    top: 50% !important
    transform: translateY(-50%) !important

  p
    font-size 120%
    font-family 'gotham'
    text-transform uppercase
    letter-spacing 0.2rem
    orphans 2
    widows 2

  a:hover, a.hover:hover
    text-decoration: none
    
  @media only screen and (min-width:$screen-sm)
    .offerings-grid
      [class*=' col-']:first-child
        padding-left 15px !important
      [class*=' col-']:last-child
        padding-right 15px !important
      [class*=' col-']
        padding-left 7.5px
        padding-right 7.5px

  @media only screen and (max-width:$screen-sm)
    [class*="col-"]
      padding 0px 0px 15px 0px !important
    .panel
      padding-top 0px !important
      margin-top 0px
    .panel-body
      padding 0px !important
      margin 0px !important
