@require '../vars.styl'

#edit-credit-model, #edit-credit-criteria
  .CodeMirror
    min-height 33vh
  .well
    &.CodeMirror
      color $gray-lighter
  .editor-controls
    .btn
      margin-left 5px
  .row
    margin-bottom 0px
