@require '../vars.styl'

.unslider
  min-height 75vh

.app-form-slider
  .row.section-label
    margin-top 2vh
    margin-bottom 2vh

  form
    min-width 290px
    width 33vw
    max-width 420px

  .slide-aligner
    display flex
    align-items center
    justify-content center

  .slide-height
    min-height 75vh
    max-height 80vh

  .container-fluid
    min-width 50vw
    padding 0vh 0vh 10vh 0vh

  .checkmark
    display none
    font-size 200%
