name: "example_served"
build:
  with: "cmake"
  target: "bin"
  boost: libs: ["asio", "system"]
deps: [
  git: "datasift/served"
  build:
    cmake:
      configure:
        RE2_LIBRARY: "~/re2/lib/libre2.a"
        RE2_INCLUDE_DIR: "~/re2/include"
        SERVED_BUILD_STATIC: "ON"
        SERVED_BUILD_TESTS: "OFF"
        SERVED_BUILD_SHARED: "OFF"
    boost: libs: ["asio", "system"]
  deps: [
    git: "google/re2"
    build:
      sources: ["re2/*.cc", "util/*.cc"]
      linux: sources: ["!util/threadwin.cc"]
      mac: sources: ["!util/threadwin.cc"]
      with: "ninja"
      target: "static"
      cflags:
        O3: 1
        std: "c++11"
        g: 1
        pthread: 1
        Wall: 1
        Wextra: 1
        "Wno-unused-parameter": 1
        "Wno-missing-field-initializers": 1
  ]
]
