name: "example_served"
build:
  with: "cmake"
  target: "bin"
  boost: libs: ["asio", "system"]
git: "datasift/served"
deps: [
  git: "datasift/served"
  path:
    source: "src"
  build:
    cmake:
      configure:
        RE2_LIBRARY: "~/lib/libre2.a"
        RE2_INCLUDE_DIR: "~/include"
        SERVED_BUILD_STATIC: "ON"
        SERVED_BUILD_TESTS: "OFF"
        SERVED_BUILD_SHARED: "OFF"
    boost: libs: ["asio", "system"]
  install:
    headersPath: 'src'
    libPath: 'lib'
  deps: [
    git: "google/re2"
    build:
      with: "ninja"
      target: "static"
      sources: ["re2/*.cc"]
      headers: ["re2/*.h"]
      cflags:
        O3: 1
        std: "c++11"
        g: 1
        pthread: 1
        Wall: 1
        Wextra: 1
        "Wno-unused-parameter": 1
        "Wno-missing-field-initializers": 1
  ]
]
