name: "example_zlib"
build:
  sources: matching: ["source/*.c"]
  target: "bin"
  with: "cmake"
deps: [
  git: "madler/zlib"
  build:
    with: "ninja"
    sources: matching: ["*.c"]
    cFlags:
      O: 3
      Wall: 1
      "Wwrite-strings": 1
      "Wpointer-arith": 1
      "Wconversion": 1
]
