name: "example_zlib"
version: "0.0.1"
target: "bin"
platform: "ios"
build:
  with: "xcode"
deps: [
  git: "madler/zlib"
  build:
    with: "ninja"
    sources: matching: [ "*.c" ]
    cFlags:
      O: 3
      Wall: 1
      "Wwrite-strings": 1
      "Wpointer-arith": 1
      "Wconversion": 1
]
