name: "example_zlib"
target: "bin"
build:
  with: "cmake"
deps: [
  git: "madler/zlib"
  build:
    with: "ninja"
    cFlags:
      O: 3
      Wall: 1
      "Wwrite-strings": 1
      "Wpointer-arith": 1
      "Wconversion": 1
]
