.particles-js
  position: relative
#particles-js
  position: absolute
  top 0
  bottom 0
  left 0
  right 0
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
