a.toggler
  &:hover, &:visited, &:link, &:active
    text-decoration none
  i.fa.fa-folder
    display none
  .folder-label-closed
    display none
  i.fa.fa-folder-open
    display inline-block
  .folder-label-open
    display inline-block
  &.collapsed
    i.fa.fa-folder
      display inline-block
    .folder-label-closed
      display inline-block
    i.fa.fa-folder-open
      display none
    .folder-label-open
      display none
